{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-team-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ .Content }}
            </div>
            {{ if .Params.intro_image }}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
                    src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                    data-src="{{ .Params.intro_image | relURL }}" />
            </div>
            {{ end }}
        </div>
    </div>
</div>
<div class="container pt-6 pb-md-12 text-center">
    <h4>Ciência não se faz sozinho e aqui apresentamos as pessoas que fazem e fizeram ciência conosco!</h4>
    <hr />
</div>


{{ $actualMembers := where .Pages ".Params.actual" true }}
{{if gt (len $actualMembers) 0}}
<div class="container pt-6 pb-md-12 persons actual">
    <div class="card-deck">
        {{ range $actualMembers.ByWeight }}
        <div class="col-12 col-md-6 mb-2 new">{{ .Render "summary" }}</div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ $oldMembers := where .Pages ".Params.actual" false }}
{{if gt (len $oldMembers) 0}}
<div class="container pt-6 pb-md-12 persons old">
    <h2 class="text-center">Quem já passou por aqui</h2>
    <div class="card-deck">
        {{ range $oldMembers }}
        <div class="col-12 col-md-6 mb-2 old">{{ .Render "summary" }}</div>
        {{ end }}
    </div>
</div>
{{ end }}


{{ end }}