{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-team-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ .Content }}
            </div>
            {{ if .Params.intro_image }}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
                    src="{{ .Params.intro_image | relURL }}" />
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="container" itemscope itemtype="https://schema.org/LocalBusiness">
    <div class="text-center" itemprop="name">
        <h2>Departmento de Bioquímica</h2>
        <h3>Instituto de Química <br /> Universidade de São Paulo</h3>
    </div>
    <hr />
    <div class="row aligner">
        <div class="col-12 col-md-7 col-lg-6">
            <iframe id="map"
                src="https://maps.google.com/maps?q=Av.%20Prof.%20Lineu%20Prestes%2C%20748%20-%20Butant%C3%A3%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005508-000&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="col-12 col-md-7 col-lg-6">
            <h4>Endereço</h4>
            <address>
                Av. Prof. Lineu Prestes, 748 <br />
                Butantã São Paulo - SP </br>
                CEP: 05508-000 </br>
            </address>
            <hr/>
            <h5>Telefones</h5>
            <p>
                Escritório: Sala 902 :
                <a href="tel:+551126481682">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span itemprop="telephone">(11) 2648-1682</span>
                </a>
            </p>
            <p>
                Laboratório: Sala 902 :
                <a href="tel:+551130913873">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span itemprop="telephone">(11) 3091-3873</span>
                </a>
            </p>
        </div>
    </div>
    <hr/>
    <div class="text-center">
        <img src="/img/pages/contact/iq_foto.jpg" alt="Fachada do Prédio"/>
    </div>
    
    <br/>
</div>

{{ end }}